#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export QT_SELECT=qt5

%:
	dh  $@

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/libiodata0/usr/lib/$(DEB_HOST_MULTIARCH)/iodata/ -- -v
